arrow==1.2.1
atomicwrites==1.2.1
attrs==18.2.0
certifi==2024.7.4
chardet==3.0.4
charset-normalizer==2.0.9
click==8.0.3
Deprecated==1.2.13
Flask==2.2.5
Flask-Caching==1.10.1
Flask-WTF==1.0.0
gunicorn==22.0.0
idna==3.7
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.1.4
MarkupSafe==2.0.1
more-itertools==4.3.0
packaging==21.3
pluggy==0.8.0
prometheus-client==0.0.21
py==1.11.0
pyparsing==3.0.6
pytest==4.0.0
python-dateutil==2.8.2
redis==4.1.0
requests==2.32.2
six==1.16.0
typing_extensions==4.0.1
urllib3==1.26.19
Werkzeug==3.0.6
wrapt==1.13.3
WTForms==3.0.0
zipp==3.19.1
